
    
    <div class="col-md-6 col-md-offset-3">

        <h2>
            Registro
        </h2>
        
        <form role="form" 
              name="signupForm" 
              accept-charset="UTF-8" 
              autocomplete="off" 
              ng-controller="SignUpController"
              ng-submit="signupForm.$valid && addSignUp( )" 
              novalidate
        >

            <div class="form-group">

                <label for="firstName">
                    FirstName
                </label>

                <input id="firstName" 
                       name="firstName" 
                       placeholder="FirstName"  
                	     autofocus="autofocus" 
                       autocomplete="off" 
                       class="form-control input-lg" 
                       ng-model="signup.firstName" 
                       required
                />

            </div>

            <div class="form-group">

                <label for="lastName">
                    LastName
                </label>

                <input id="lastName" 
                       name="lastName" 
                       placeholder="LastName" 
                       autofocus="autofocus"
                       autocomplete="off" 
                       class="form-control input-lg"
                       ng-model="signup.lastName" 
                       required
                />

            </div>

            <div class="form-group">

                <label for="email">
                    Email
                </label>

                <input id="email" 
                       name="email" 
                       placeholder="Email" 
                       autocomplete="off" 
                       class="form-control input-lg"
                       ng-model="signup.email" 
                       required                       
                />

            </div>

            <div class="form-group">

                <label for="passwd">
                    Password
                </label>

                <input id="passwd" 
                       name="passwd" 
                       type="password"
                       placeholder="Password" 
                       autocomplete="off" 
                       class="form-control input-lg"
                       ng-model="signup.password" 
                       required                       
                />

            </div>
                                          
            <button type="submit"  class="btn btn-lg btn-primary btn-block">
                Signup Send
            </button>

            <p class="text-right">
                <a class="text-right" href="#">
                    
                </a>
            </p>

            <!--
            <div>
              signupForm is: {{ signupForm.$valid }}
            </div>
            -->

        </form>

    </div>


